// #00061B

.header {
  height: 60px;
  width: 100vw;
  background-color: #032062;
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  .container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 10px;
      .logo {
        height: 40px;
      }
      .title {
        color: white;
        font-weight: 500;
        @media screen and (max-width: 430px) {
          display: none !important;
        }
      }
    }
    .right {
      height: 100%;

      @media screen and (max-width: 850px) {
        display: none !important;
      }
      ul {
        display: flex;
        align-items: center;
        height: 100%;
        list-style: none;
        color: white;
        font-size: 14px;
        li {
          padding: 0 10px;
          cursor: pointer;
          height: 100%;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.2s;
          &:hover {
            background-color: #fff;
            color: #032062;
          }
        }
        select {
          outline: none;
          cursor: pointer;
          height: 100%;
          width: 85px;
          background-color: #032062;
          padding: 0 10px;
          appearance: none;
          border: none;
          font-size: 14px;
          color: white;
          &:hover {
            background-color: #fff;
            color: #032062;
          }
          //   option {
          //     &:hover{
          //       background-color: #fff;
          //     }
          //   }
        }
        .person {
          margin-left: 20px;
          border-radius: 50px;
          width: 35px;
          height: 35px;
          background-color: #fff;
          color: #032062;
        }
      }
    }
  }
}

.icons {
  color: #fff;
  display: none !important;

  @media screen and (max-width: 850px) {
    display: block !important;
  }
}
