main {
  padding-bottom: 60px;
}
.loader {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  .bgImage {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    .glass {
      bottom: 0;
      right: 0;
      width: 100%;
      height: calc(100% - 80px);
      position: absolute;
      z-index: 2;
      display: flex;
      align-items: center;
      //   justify-content: center;
      .arrow {
        position: absolute;
        bottom: 20px;
        right: 50%;
        transform: translateX(50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
        color: #032062;
        .icon {
          transform: rotateZ(90deg);
        }
        cursor: pointer;
        &:hover {
          transform: translate(50%, 10px);
        }
      }
      .container {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media screen and (max-width: 600px) {
          justify-content: center;
          align-items: center;
        }
        h1 {
          font-size: 40px;
          width: 520px;
          text-wrap: wrap;
          // letter-spacing: 10px;
          line-height: 50px;
          color: #032062;
          // text-align: justify;
          @media screen and (max-width: 900px) {
            // text-align: center;
            width: 600px !important;
            line-height: 45px !important;
            font-size: 50px !important;
          }
          @media screen and (max-width: 600px) {
            text-align: center;
            width: 350px !important;
            line-height: 35px !important;
            font-size: 25px !important;
          }
        }
        .btns {
          ul {
            display: flex;
            gap: 20px;
            list-style: none;
            li {
              font-size: 18px;
              padding: 10px 20px;
              background-color: #032062;
              color: white;
              border-radius: 20px;
              cursor: pointer;
              transition: 0.2s;
              @media screen and (max-width: 900px) {
                font-size: 18px !important;
              }
              @media screen and (max-width: 600px) {
                font-size: 14px;
              }

              &:hover {
                background-color: #fff;
                color: #032062;
              }
            }
          }
        }
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.section {
  padding-top: 40px;
  padding-bottom: 20px;

  .header {
    text-align: center;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    gap: 10px;
    h2 {
      color: #032062;
      padding: 5px 20px;
      border-radius: 10px;
      // margin-bottom: 30px;
      margin: 0;
      padding: 0;
    }
    .hr {
      height: 1px;
      width: 130px;
      border: 2px solid #032062;
    }
  }
  .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  .footer {
    text-align: center;
    padding-top: 20px;
    span {
      cursor: pointer;
      transition: 0.2s;
      color: grey;
      &:hover {
        color: black;
      }
    }
  }
}
.services {
  .card {
    width: calc(100% / 3);
    @media screen and (max-width: 900px) {
      width: calc(100% / 2);
    }
    @media screen and (max-width: 750px) {
      width: calc(100% / 2);
    }
    @media screen and (max-width: 400px) {
      width: calc(100% / 1);
    }
    height: 225px;
    padding: 10px;
    .cardContent {
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        transform: scale(0.95);
      }
      padding: 25px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      background-color: white;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      .title {
        text-align: center;
        color: #032062;
      }
      .icons {
        // border: 1px solid red;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .hr {
          width: 100px;
          height: 1px;
          gap: 10px;
          border: 1px solid #032062;
        }
      }
    }
  }
}
.library {
  .card {
    width: calc(100% / 3);
    padding: 10px;
    margin-bottom: 20px;
    @media screen and (max-width: 900px) {
      width: calc(100% / 3);
    }
    @media screen and (max-width: 750px) {
      width: calc(100% / 2);
      span {
        font-size: 12px;
      }
      .cardInfo {
        flex-direction: column;
      }
    }
    @media screen and (max-width: 500px) {
      width: 100%;
    }
    .cardContent {
      width: 100%;
      border-radius: 10px;
      background-color: #fff;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .cardHeader {
        height: 80px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        h2 {
          font-size: 18px;
          text-align: start;
          border-bottom: 1px solid #032062;
          padding: 0px 10px 10px 10px;
          display: flex;
          justify-content: space-between;
        }
        h5 {
          padding: 0px 15px 10px 15px;
        }
      }
      .cardInfo {
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        font-size: 14px;
      }
      .cardButtons {
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        span {
          background-color: #032062;
          color: white;
          padding: 5px 10px;
          border-radius: 10px;
          width: 100%;
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          align-items: center;
          transition: 0.2s;
          b {
            text-wrap: nowrap;
          }
          &.accessible {
            background-color: #28a745;
            cursor: default;

            b {
              font-size: 20px;
            }
          }
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}

.news {
  .card {
    width: calc(100% / 4);
    @media screen and (max-width: 900px) {
      width: calc(100% / 3);
    }
    @media screen and (max-width: 750px) {
      width: calc(100% / 2);
    }
    @media screen and (max-width: 400px) {
      width: calc(100% / 1);
    }
    padding: 10px;
    .cardContent {
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        transform: scale(0.98);
      }
      width: 100%;
      height: 100%;
      background-color: #fff;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      .cardImage {
        width: 100%;
        aspect-ratio: 3 / 2;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .cardText {
        width: 100%;
        height: 100px;
        padding: 10px 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 3px;

        .title {
          font-size: 13px;
          line-height: 1.4;
          white-space: normal; // ✅ mətnin sətirə keçməsinə icazə verir
          word-wrap: break-word; // ✅ uzun sözləri qırır
          overflow-wrap: break-word; // ✅ əlavə et
          display: block; // ✅ flex olmamalıdır!
          height: 80%;
          overflow: hidden;
        }

        p:last-of-type {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 12px;

          span:nth-of-type(2) {
            color: white;
            padding: 3px 15px;
            background-color: #1976d2;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
